<p id="notice"><%= notice %></p>
<h2> Projects: </h2>

  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4">
              <div class="card mb-4 box-shadow">
              <h5 class="card-title"> &nbsp&nbsp&nbsp <%= project.title %> </h5>
                <div class="card-body">
                  <p class="card-text"> <%= project.description %> </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <td><%= link_to 'Show', project %></td>
                      <% if user_signed_in? %>
                        &nbsp|&nbsp
                        <td><%= link_to 'Edit', edit_project_path(project) %></td>
                        &nbsp|&nbsp
                        <td><%= button_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <%else %>
                        <% end %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
    <% end %>
    </div>

    <% if user_signed_in? %>

    <%= link_to 'New Project', new_project_path %>
       <%else %>
   <% end %>
